<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Anil.listBridge</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>listBridge</string>
			</array>
		</dict>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>This allows the app to read your current library for transfers and save new playlists to your Apple Music account.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs to connect to a local server to manage your playlists.</string>
</dict>
</plist>
